
.navbar.nav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  background-color: chartreuse;
}
.card-class {
  width: 20%;
}
.parent {
  display: flex;
  justify-content: space-between;
}
.parent-chaild {
  display: flex;
  justify-content: flex-end;
}
.btn-class {
  display: flex;
  justify-content: space-evenly;
}
.parent-chaild2 {
  display: flex;
  gap: 15px;
}
.text-danger {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
  color: red !important;
  text-transform: capitalize;
}